:host {
  display: block;
  height: 100%;
}

.nav-panel {
  border-right: 1px solid #ccc; /* линия справа */
  padding-right: 1rem;         /* отступ, чтобы не прилипал контент */
}

.btn-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 32px 16px;
  height: 100%;
  width: 100%;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  color: white;

  background-color: rgb(22, 24, 34);

  font-family: "Lobster Two", sans-serif;
}

.logo {
  font-size: 24px;
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.btn-list button {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  padding-left: 10px;
  gap: 40px;
}
